body {
  background: #fec;
  color: #431;
  font-family: georgia, serif;
  font-size: large;
  line-height: 1.5;
  margin: 0 auto;
  padding: 0 1em;
}
h1 {
  text-align: center;
  margin-bottom: 0;
}
h1 + div {
  text-align: center;
  margin-bottom: 2em;
}
a:link {
  color: #600;
}
a:visited {
  color: #300;
}
a:focus, a:hover, a:active {
  color: #c00;
}
main {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
}
section {
  background: #edb;
  border-radius: 0.5em;
  border: thin solid #986;
  padding: 1em 1.25em;
}
section h2 {
  margin: 0 0 0.25em 0;
}
section nav a {
  margin-right: 0.5em;
}
section nav a:last-child {
  margin-right: 0;
}
footer {
  text-align: center;
}
footer nav {
  margin: 1.5em 0 1em 0;
}
footer p {
  max-width: 40em;
  margin: 0 auto 1em auto;
}
footer a {
  margin-right: 1.25em;
  line-height: 2.5;
}
footer a:last-child {
  margin-right: 0;
}
